* {
  margin: auto;
text-align: center;

}
h1  {
  font-size: 50px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 30px;

}
body {
background-image: url(../assets/images/tiger.gif);
height: 690px;
}

.block  {
  margin: 10px;
  border :1px solid black;
  height: 100px;
  width: 100px;
  font-size: 40px;
  text-align: center;
  background-color: white;
  font-family: 'Bungee Inline', cursive;
}
button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 14px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}
